@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0px;
    padding: 0px;
    
}

body {
    height: 800px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 600px;
    width: 1080px;
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 30%;
    height: 80%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.139);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    gap: 15px;

}

.img {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
    
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.text {
    height: 40%;
    width: 90%;
    
    
}

h1{
    font-size: 20px;
    font-family: Popp;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 15px;
    font-family: serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}